/*This is for Go practice href*/
#GPract
{
	border-radius: 25px;
    border: 2px solid;
	
}

.omg
{
	width:150px;
	height:110px;
	
}
/*Class for internal margin inside different divs*/
.interMar
{
	margin-top:10%;
}

footer
{
	margin-top:5%;
}
.line
{
	border-bottom: 1px solid #dee2e6;
}
.upLine
{
	border-top: 1px solid #dee2e6;
}

.contourLine{
padding:4%;
border: 1px solid #dee2e6;}
.blueColor
{
	background-color:#2e69ad;
	
}


